---
import { Image } from "astro:assets";

const { title, index, thumbnail } = Astro.props;
---

<button
  id={`project-${index}`}
  class={`my-1 md:my-2 w-full flex justify-center border-x-[0.5px] lg:border-x-[0.75px] border-opacity-50 border-foreground [&:first-child]:border-l-[0.5px] [&:first-child]:lg:border-l-[0.75px] [&:last-child]:border-r-[0.5px] [&:last-child]:lg:border-r-[0.75px] [&:nth-child(4)]:lg:border-r-[0.75px] ${index === 0 ? "selected" : ""}`}
  data-index={index}
>
  <Image
    class="w-auto px-3 h-[60px] md:h-[100px] mix-blend-screen hover:scale-110 transition-all ease-in-out duration-500 object-contain"
    src={thumbnail}
    alt={title}
    width={400}
  />
</button>

<script>
  const buttons = document.querySelectorAll("button");
  const handleChange = () => {
    const selectedButton = document.querySelector(
      `#project-${window.currentProjectIndex}`
    );
    selectedButton?.classList.add("selected");
    buttons.forEach((button) => {
      if (button !== selectedButton) {
        button.classList.remove("selected");
      }
    });
  };
  window.addEventListener("projectChanged", handleChange);
</script>
<style>
  .selected {
    border-left-width: 0.5px !important;
    border-right-width: 0.5px !important;
    border-color: #f09938ff !important; /* Tailwind orange-500 */
  }

  @media (min-width: 1024px) {
    .selected {
      border-left-width: 0.75px !important;
      border-right-width: 0.75px !important;
    }
  }

  /* Border before selected item */
  button:has(+ .selected) {
    border-right-width: 0.5px !important;
    border-right-color: #f09938 !important;
  }

  @media (min-width: 1024px) {
    button:has(+ .selected) {
      border-right-width: 0.75px !important;
    }
  }

  /* Border after selected item */
  .selected + button {
    border-left-width: 0.5px !important;
    border-left-color: #f09938 !important;
  }

  @media (min-width: 1024px) {
    .selected + button {
      border-left-width: 0.75px !important;
    }
  }
</style>
