---
import { Image } from "astro:assets";

const { title, index, thumbnail } = Astro.props;
---

<button
  id={`project-${index}`}
  class="my-1 md:my-2 w-full flex justify-center border-r-[0.5px] border-opacity-50 border-foreground [&:last-child]:border-r-0 [&:nth-child(4)]:lg:border-r-[0.5px] [&:nth-child(4)]:border-r-0"
  data-index={index}
>
  <Image
    class="w-auto px-3 h-[60px] md:h-[100px] mix-blend-screen hover:scale-110 transition-all ease-in-out duration-500 object-contain"
    src={thumbnail}
    alt={title}
    width={400}
  />
</button>

<script>
  const buttons = document.querySelectorAll("button");
  const handleChange = () => {
    const selectedButton = document.querySelector(
      `#project-${window.currentProjectIndex}`
    );
    console.log(selectedButton);
    selectedButton?.classList.add("selected");
    buttons.forEach((button) => {
      if (button !== selectedButton) {
        button.classList.remove("selected");
      }
    });
  };
  window.addEventListener("projectChanged", handleChange);
</script>
<style>
  /* Border after selected item */
  .selected {
    border-right-width: 2px !important;
    border-right-color: rgb(249 115 22) !important; /* Tailwind orange-500 */
  }

  /* Border before selected item */
  button:has(+ .selected) {
    border-right-width: 2px !important;
    border-right-color: rgb(249 115 22) !important;
  }
</style>
